<%= turbo_stream_from :message %>

<div id="messages">
  <%= render @messages %>
</div>

<div id="error_explanation"></div>

<% form_data = { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }%>
<%= form_with model: @message, data: form_data do |form| %>
  <%= form.text_field :body %>
  <%= form.submit %>
<% end %>
